/Corydoras/Library
/Corydoras/Temp
/Corydoras/UnityVS.Corydoras.sln
/Corydoras/Assembly-CSharp.csproj
/Corydoras/Assembly-CSharp-Editor.csproj
/Corydoras/Assembly-CSharp-firstpass.csproj
/Corydoras/Corydoras.CSharp.csproj
/Corydoras/Corydoras.CSharp.Editor.csproj
/Corydoras/Corydoras.CSharp.Plugins.csproj
/Corydoras/Corydoras.sln
/Corydoras/Corydoras.userprefs
/Corydoras/UnityVS.Corydoras.CSharp.csproj
/Corydoras/UnityVS.Corydoras.CSharp.Editor.csproj
/Corydoras/UnityVS.Corydoras.CSharp.Plugins.csproj
/Corydoras/*.csproj
/Corydoras/*.suo
/Corydoras/*.sln
/Corydoras/iOS
